body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
/* roboto font */
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    
    transition: color 0.5s;
}

a:hover {
   color: rgb(0, 0, 0);

}
a:visited {
    color: #000;
}


/* Elements de la page */


.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

/* Section gauche */
.main .left {
    width: 20%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background-color: rgb(215, 215, 215);
    min-width: 220px;
    max-width: 270px;

}

.main .left div {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin: 10px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0 20px 0 0;
    background-image: url(blur.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;

}

header h1 {
    mix-blend-mode: color-dodge;
    color : rgb(168, 168, 255);
    font-size: 2em;
    font-family: 'arial';
    font-weight: 900;
    user-select: none;
    text-shadow: 0 0 10px rgb(0, 35, 87);

  
}

header .logo {
    background-image: url(photo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
/* Section droite */
.main .content {
    width: 80%;
    height: 100%;

}

.sociaux{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;  
}
.sociaux a {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    transition: color 0.5s;
    transition: transform 0.5s;
}
.sociaux a:hover {
    transform: scale(1.2);
}

.title {
    margin: 10px;
}


.card {
    background-color: rgb(187, 237, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin: 10px;
    transition: transform 0.5s;
    transition: box-shadow 0.5s;

    cursor: pointer;

}
.card .card-title {
    
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    user-select: none;
}
.card .card-text {
   
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    user-select: none;
}
.card:hover {
    box-shadow: 0 0 5px rgb(218, 232, 247);
}

/* sur mobile */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
    }
    

    .main .left {
        width: 100%;
        height: auto;
        border-radius: 0;
        min-width: 0;
        max-width: 100%;
    }

    .main .content {
        width: 100%;
        height: auto;
    }

    header {
        border-radius: 0;
        flex-direction: row;
        justify-content: space-around;
    }
  
}
